<div class="pairing">
  <h2>You Should Try This Combo!</h2>
  <h3>Restaurant</h3>
  <%= link_to(@restaurant.name, @restaurant.url) %>
  <%= image_tag @restaurant.image_url %>
  <%= @restaurant.address.join('<br>').html_safe %>
  <p>Phone: <%= @restaurant.phone.chars.insert(3, "-").insert(7, "-").join %></p>

  <h3>Music</h3>
  <%= @music.type %>: <%= link_to(@music.name, @music.url) %>
  <%= image_tag @music.image %>
</div>
