<h2>Find A Suggestion</h2>

<% if params[:query] %>
  <%= @suggestion.music_id %>
  <%= @music.name %>
<% end %>


<%= form_tag(suggestions_path, method: :get) do %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search" %>
<% end %>
