<!DOCTYPE html>
<html>
<head>
  <title>TunesTakeout</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <h1>Tunes & Takeout</h1>
</header>

<div class="greeting">
  <% if session[:user_id] %>
    Hi <%= current_user.name %>!
    <% if current_user.image.nil? %>
      <%= image_tag "no_picture.png" %>
    <% else %>
      <%= image_tag current_user.image %>
    <% end %>
    <%= link_to "Log Out", logout_path, method: :delete %>
  <% else %>
    Hi Guest!
    <%= image_tag "defaultspotifylogo.png" %>
    <%= link_to "Log In", "/auth/spotify" %>
  <% end %>
</div>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %>
<% end %>

<main>
  <%= yield %>
</main>

<footer>&copy; 2016 Valerie Conklin</footer>

</body>
</html>
